E2E_BASE_URL=http://127.0.0.1:3000
E2E_API_BASE_URL=http://127.0.0.1:3001/
E2E_CUSTOMER_EMAIL=myconbaruk@gmail.com
E2E_CUSTOMER_PASSWORD=14Douglas$$
E2E_ADMIN_EMAIL=douglasamf14@gmail.com
E2E_ADMIN_PASSWORD=14Douglas$$
E2E_PIX_AMOUNT=10.00
E2E_CHECKOUT_LINK=https://instagram.com/likesuai_e2e
E2E_CHECKOUT_SERVICE_ID=
E2E_ADMIN_ALERT_ID=
