E2E_BASE_URL=http://127.0.0.1:3000
E2E_API_BASE_URL=http://127.0.0.1:3001/v1
E2E_CUSTOMER_EMAIL=cliente@likesuai.local
E2E_CUSTOMER_PASSWORD=senha-do-cliente
E2E_ADMIN_EMAIL=admin@likesuai.local
E2E_ADMIN_PASSWORD=senha-do-admin
E2E_PIX_AMOUNT=10.00
E2E_CHECKOUT_LINK=https://instagram.com/likesuai_e2e
E2E_CHECKOUT_SERVICE_ID=
